body{
    background:rgb(207, 219, 213);
}

#board{
    position: relative;
    background:#42424f;
    height:600px;
    width: 600px;
    position:relative ;
    margin-top: -550px;
    margin-left: 400px;
    border-radius: 10px;
}
#boardCardsUnStack{
    background:rgb(14, 83, 48);
    height:100px;
    width: 75px;
    position:relative ;
    margin-top: -565px;
    margin-left: 420px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px gold;
}
.boardCardsUn{
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    height:100px;
    width: 75px;
    position:relative ;
    margin-top: -110px;
    margin-left: 425px;
    border-radius: 10px;
}
.boardCardsUn::before{
    content:'';
    position:absolute;
    width: 55px;
    height: 140%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 20px black;
    animation: animate 4s linear infinite;
}
.boardCardsUn::after{
    content:'';
    position: absolute;
    inset: 2px;
    background-color: rgb(157, 208, 183);
    border-radius: 10px;

}
@keyframes animate{
    0%{
        transform:rotate(0deg);

    }
    100%{
        transform:rotate(360deg);
    }
}
#boardCardsDeuxStack{
    background:rgb(160, 64, 64);
    height:100px;
    width: 75px;
    position:relative ;
    margin-top: 365px;
    margin-left: 895px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px gold ;
}
.boardCardsDeux{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    background:rgb(0, 0, 0);
    height:100px;
    width: 75px;
    position:relative ;
    margin-top: -110px;
    margin-left: 900px;
    border-radius: 10px;
}
.boardCardsDeux::before{
    content:'';
    position:absolute;
    width: 60px;
    height: 140%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
    animation: animate 4s linear infinite;
}
.boardCardsDeux::after{
    content:'';
    position: absolute;
    inset: 2px;
    background-color: rgb(208, 157, 157);
    border-radius: 10px;

}
@keyframes animate{
    0%{
        transform:rotate(0deg);

    }
    100%{
        transform:rotate(360deg);
    }
}
.skinUn{
    background:rgb(157, 208, 183);
    width:150px;
    height:300px;
    margin-top: 200px;
    margin-left: 50px;
    position: relative;
    z-index: -1;
}
.têteUn{
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(0, 0, 0);
    width:40px;
    height:40px;
    position: absolute;
    margin-top: -250px;
    margin-left: 100px;
    border-radius: 30px;
}
@keyframes thisIsTheNameOfTheAnimation2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.crown{
    clip-path: polygon(0 0, 10% 25%, 20% 0, 30% 25%, 40% 0, 50% 25%, 60% 0, 70% 25%, 80% 0, 90% 25%, 100% 0, 100% 100%,0 100%);
    margin-top: -255px;
    margin-left: 106px;
    position:absolute;
    width: 26px;
    height: 10px;
    background-color: gold;

    animation-name: thisIsTheNameOfTheAnimation2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}


.skinDeux{
    background:rgb(208, 157, 157);
    width:150px;
    height:300px;
    margin-top: -100px;
    margin-left: 1200px;
    position: relative;
}
.têteDeux{
    background:rgb(0, 0, 0);
    width:40px;
    height:40px;
    position: absolute;
    margin-top: -250px;
    margin-left: 1250px;
    border-radius: 30px;
}

